{% extends 'layout/index.html' %}
{% load static %}

{% block title %} {{ titulo }} {% endblock  %}

{% block content %}
<div class="content-pg">

    <h1 class='title-pg'>{{ titulo }}</h1>

    {% for about in cont_about  %}

    {% if forloop.counter0|divisibleby:2 == True %}

    <div class="about">
        <div class="img-about">
            <img src="{{ about.image.url }}" alt="{{about.title}}" />
        </div>
        <div class="desc-about">
            <h2>{{about.title}}</h2>
            <p>
            {{ about.content|safe}}
            </p>
        </div>      
    </div>    
    
    
{% else %}

    <div class="about">
        
        <div class="desc-about">
            <h2>{{about.title}}</h2>
            <p>
            {{ about.content|safe}}
            </p>
        </div>    
        <div class="img-about">
            <img src="{{ about.image.url }}" alt="{{about.title}}" />
        </div>  
    </div> 
    {% endif %}
    {% endfor %}
   
</div>
<img src="{% static 'images/9.png' %}" alt="Quienes somos" class="img-nosotros" />

{% endblock  %}