{% extends 'layout/index.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock  %}

{% block content %}
<div class="content-pg">
    <h1 class='title-pg'>{{ title }}</h1>

    <div class="items-leng">
       
        {% for leng in lengs  %}
        
         <article class="item">
                <a href="{% url 'lengua' leng.id %}">
                    <div class="img-item">
                        <img src="{{ leng.image.url }}" alt="{{ leng.title }}">
                    </div>
                <h3>{{ leng.title }}</h3>
            </a>
            </article>
        
        {% endfor %}
        
           
        
    </div>
    
</div>
{% endblock  %}