{% extends 'layout/index.html' %}
{% load static %}

{% block title %} {{ leng.title }} {% endblock  %}

{% block content %}


<div class="leng-img">
    <img src="{{ leng.image.url}}" alt="{{ leng.title }}" />
    <h1>{{ leng.title }}</h1>
</div>
 <div class="content-pg">   
   
    <div class="leng-content">
        <div class="leng-description">
           {{leng.content|safe}}

        </div>
        <div class="leng-lateral">
            <div class="lat-form">
                <h3>Cotiza tu Programa</h3>
                <form>
                    <input type="text" placeholder="Nombres y Apellidos" />
                    <input type="text" placeholder="Telefono"/>
                    <input type="text" placeholder="Correo"/>
                    <input type="text" placeholder="Destino"/>
                    <textarea placeholder="Mensaje"></textarea>
                    <input type="submit" value="Agenda tu Cita" />
                </form>
            </div>
            <div class="banner">
                <img src="{% static 'images/banner.png' %}" alt="banner" />
            </div>
        </div>
    
    </div>
</div>

{% endblock  %}