/* INSERTANDO FUENTES  */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("../fonts/Montserrat-Light.ttf");
}

/* FIN DE INSERTANDO FUENTES  */