{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ESTILOS PRINCIPALES -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reponsive.css' %}">

    <!-- ESTILOS DE FUENTES -->
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">

    <!-- ESTILOS MENU -->
    <link rel="stylesheet" href="{% static 'css/nav/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav/responsive.css' %}">

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/brands.css'%}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/solid.css'%}">

    <title> {% block title %}{% endblock  %} | English & Travels</title>
</head>
<body>
    <!-- CABECERA  -->
    <header id="header">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </div>

        <!-- MENU  -->
        <nav id="nav" class="main-nav">
            <div class="nav-links">
                <a class="link-item" href="{% url 'home'%}">Inicio</a>
                <a class="link-item" href="{% url 'about'%}">Nosotros</a>
                <a class="link-item" href="{% url 'travels'%}">Viajes</a> 
                <a class="link-item" href="{% url 'lenguage'%}">Cursos Ingles</a> 
                <a class="link-item" href="{% url 'contact'%}">Contacto</a> 
            </div>
        </nav>
        <button id="button-menu" class="button-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </header>


{% block content %}

{% endblock  %}

    <footer>
        <div class="footer">

            <div class="cont_footer">
                <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </div>

            <div class="info">
                <h2>Informacion</h2>
                <ul>
                    <li>Inicio</li>
                    <li>Nosotros</li>
                    <li>Destinos</li>
                    <li>Asesoramientos</li>
                    <li>Asistencia de viaje</li>
                    <li>Maestria y posgrados</li>
                    <li>Paquetes turisticos</li>
                </ul>
            </div>

            <div class="contact">
                <h2>Contactos</h2>
                <ul>
                    <li><i class="fa-solid fa-envelope"></i> agenciaintercambioset@gmail.com</li>
                    <li> <i class="fa-brands fa-whatsapp"></i>318 267 21 44 </li>

                </ul>

                <ul class="redes">
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-facebook"></i> </li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>             
               
            </div> 
           
            </div>
            <hr />
            <p class="autor">Creado por gegova.co </p>  
        </div>     
         
    </footer>
</body>
<script src="{% static 'js/script.js' %} "></script>
</html>