{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ESTILOS PRINCIPALES -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- ESTILOS DE FUENTES -->
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">

    <title>English & Travels</title>
</head>
<body>
    <!-- CABECERA  -->
    <header id="header">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </div>

        <!-- MENU  -->
        <main class="main">
            <ul>
                <li><a href="#">Inicio</a> </li>
                <li><a href="#">Nosotros</a> </li>
                <li><a href="#">Destinos</a> </li>
                <li><a href="#">Idiomas</a> </li>
                <li><a href="#">Contacto</a> </li>
            </ul>
        </main>
    </header>


    <div class="desc">
        <article>
            <div class="text_desc">
              <p>Estudia en el exterior: Idiomas,
                pregrados y postgrados</p>  
            </div>
            
            <p class="description">Descrubre todo lo que tenemos para ti </p>

            <input type="text">
            <button>Buscar</button> 
        </article>        
    </div>


    <div class="cursos">
        <h2 class="title">Cursos de Ingles</h2>
        <hr />
        <h3 class="subtitle">Nuestros Destinos</h3>
        <div class="destinos">
            <article class="bann_dest">
                <h3>Malta</h3>
            </article>
            <article>
                <h3>Malta</h3>
            </article>
            <article>
                <h3>Malta</h3>
            </article>            
        </div>
        <button>Ver Mas</button>
    </div>

    <div class="servicios">
        
        <div class="bac_serv">

           
            <article>
                <img src="{% static 'images/consulta.png' %}" alt="Imagen">
                <p>Asesoramiento y tramites</p>
            </article>
            <article>
                <img src="{% static 'images/diploma-y-gorra-de-posgrado(1).png' %}" alt="Imagen">
                <p>Maestria y posgrados en el extrangero</p>
            </article>
            <article>
                <img src="{% static 'images/auriculares.png' %}" alt="Imagen">
                <p>Asistencia de viaje a todo el mundo </p>
            </article>
            <article>
                <img src="{% static 'images/travel-and-tourism.png' %}" alt="Imagen">
                <p>Paquetes turisticos, nacionales e internacionales</p>
            </article>
            
        </div>       

    </div>


    <div class="travel">
        <h2 class="title">Paquetes Turisticos</h2>
        <hr />
        <h3 class="subtitle">Nacionales e Internacionales</h3>
        <div class="cont_travel">
            <article>
                <h3>Destino</h3> 
            </article>
            <article>
                <h3>Destino</h3> 
            </article>
            <article>
                <h3>Destino</h3> 
            </article>
            <article>
                <h3>Destino</h3> 
            </article>
            <article>
                <h3>Destino</h3> 
            </article>
            <article>
                <h3>Destino</h3> 
            </article>
        </div>
        
        <button>Ver Mas</button>
    </div>

    <footer>
        <div class="footer">

            <div class="cont_footer">
                <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </div>

            <div class="info">
                <h2>Informacion</h2>
                <ul>
                    <li>Inicio</li>
                    <li>Nosotros</li>
                    <li>Destinos</li>
                    <li>Asesoramientos</li>
                    <li>Asistencia de viaje</li>
                    <li>Maestria y posgrados</li>
                    <li>Paquetes turisticos</li>
                </ul>
            </div>

            <div class="contact">
                <h2>Contactos</h2>
                <ul>
                    <li>agenciaintercambioset@gmail.com</li>
                    <li>318 267 21 44 - 310 442 23 06 </li>
                </ul>

                <ul>
                    <li>instragram</li>
                    <li>facebook</li>
                    <li>twitter</li>
                    <li>youtube</li>
                </ul>             
               
            </div> 
           
            </div>
            <hr />
            <p class="autor">Creado por gegova.co </p>  
        </div>     
         
    </footer>
</body>
</html>